<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conway's Game of Life</title>
</head>
<body>
    <h1>Conway's Game of Life</h1>

    <canvas id="canvas" width="500" height="500"></canvas>

    <script type="text/javascript" src="/static/game-of-life.js"></script>
</body>
</html>
